#slick-article-container {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.slick-news-card {
  padding: 20px 20px 0px;
  text-align: center;
  box-sizing: border-box;
}

.slick-news-section {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.slick-news-image {
  width: fill;
  height: 168px;
  border-radius: 8px;
  border: 1px dotted var(--dark-blue);
}
.slick-news-summery {
  text-align: justify;
}
.slick-news-summery a {
  text-decoration: none;
  color: var(--dark-blue);
}
.slick-articles .slick-prev,
.slick-articles .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0.8;
  width: auto;
  height: auto;
}
.slick-articles .slick-prev:before,
.slick-articles .slick-next:before {
  color: var(--dark-blue);
  font-size: 36px;
  text-align: center;
}
