.products-category-container {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  margin: auto;
  width: 90vw;
}
.product-category {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 8px;
  width: 16%;
  min-width: 200px;
  text-decoration: none;
  border-radius: 20px;
  transition: all ease;
  color: var(--dark-blue);
}
.product-category:hover {
  background-color: rgb(240, 240, 255);
}

.product-category img {
  height: auto;
  width: 85%;
  margin-bottom: 8px;
  border-radius: 1000px;
  border: 4px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        90deg,
        var(--dark-blue),
        var(--dark-blue),
        var(--dark-blue),
        var(--orange),
        var(--dark-blue),
        var(--dark-blue)
      )
      border-box;
}
.product-category h3 {
  width: 100%;
  margin: auto !important;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .product-category {
    min-width: 130px;
    height: 100%;
  }

  .products-category-container {
    width: 90vw;
  }
  .product-category h3 {
    font-size: 1rem;
  }
}
