.products-category-container {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  margin: auto;
  width: 80vw;
  gap: 10px;
}
.product-category {
  margin: auto;
  width: 23%;
  min-width: 200px;
  text-decoration: none;
  border-radius: 20px;
  transition: all ease;
  color: var(--dark-blue);
  padding-bottom: 25px;
}
.product-category:hover {
  background-color: rgb(240, 240, 255);
}

.product-category img {
  height: auto;
  width: 80%;
  margin: 5%;
  border: 8px solid var(--dark-blue);
  border-radius: 1000px;
}
.product-category h3 {
  width: 100%;
  margin: auto !important;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .product-category {
    min-width: 130px;
    height: 100%;
    background-color: rgb(240, 240, 255);
  }
  .product-category img {
    border: 5px solid var(--dark-blue);
  }
  .products-category-container {
    width: 90vw;
  }
  .product-category h3 {
    font-size: 1rem;
  }
}
