nav li {
  display: inline;
  padding: 0 10px;
}
nav h1 {
  color: var(--orange);
  margin: auto 0;
  text-align: center;
  font-size: 2em;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: var(--orange);
}

.nav-active {
  color: var(--orange);
}

.navTop {
  background-color: var(--darker-blue);
  padding: 10px 20px 45px;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navButtom {
  color: aliceblue;
  display: flex;
  flex-direction: row;
  margin: 0 30px;
  padding: 15px 20px;
  background-color: var(--dark-blue);
  border-radius: 10px;
}
.navButtom div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-hr {
  color: aliceblue;
  margin: -35px 0 0 0;
}
.nav-phone-number {
  border: right 1px solid white;
  padding: right 15px;
}

nav button {
  display: none;
  border: 0;
  background-color: var(--dark-blue) !important;
}
nav address {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social-medias a {
  padding: 0 5px;
}
.pages-nav ul {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  overflow: hidden;
  transition: all 0.8s ease;
}
.pages-nav {
  display: flex;
  transition: all 1s ease;
}

@media only screen and (max-width: 600px) {
  nav button {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
  }

  .pages-nav.open {
    display: flex !important;
    flex-direction: row;
    width: 100%;
    margin-top: 0px;
    align-items: end;
    justify-content: end;
  }

  .pages-nav ul {
    /* overflow: hidden; */
    justify-content: end;
    align-items: end;
  }
  .navButtom {
    flex-direction: column;
  }
  nav address {
    font-size: smaller;
  }
}
