.product-list-container {
  display: flex;
  padding: 0;
}
.featured-products .product-list {
  flex-wrap: nowrap;
  width: calc(100% - 100px);
}

#all-products {
  display: none;
}
.product-list {
  padding: 2px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: start;
  width: 100vw;
  list-style: none;
}

.featured-products #all-products {
  display: block;
  background-color: rgb(220, 220, 255);
  border: none;
  border-radius: 20px;
  margin: 16px 4px;
  padding: 150px 0;
  width: 100px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: large;
  color: var(--dark-blue);
  transition: all 0.5s;
}
#all-products:hover {
  background-color: white;
  outline: 2px solid rgb(220, 220, 255);
  color: black;
}
.search-bar-off {
  display: none;
}
.search-bar {
  display: flex;
  gap: 16px;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .product-list {
    justify-content: center;
  }
  .search-bar {
    flex-direction: column;
  }
}
