.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(220, 220, 255);
  border-radius: 20px;
  width: 130px;
  padding: 16px;
  text-align: center;
  transition: all 0.5s;
}
.product-card:hover {
  background-color: white;
  outline: 2px solid rgb(220, 220, 255);
}

.product-image {
  width: fill;
}

.product-name {
  border-top: 2px solid white;
  padding-top: 8px;
  font-size: 1.2em;
  margin: 10px 0 0;
  transition: all 0.5s;
}

.product-card:hover .product-name {
  border-top: 2px solid rgb(220, 220, 255);
}

.product-price {
  margin: 4px 0 8px;
  font-size: 1.1em;
  color: var(--dark-blue);
}

.add-to-cart {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart:hover {
  background-color: #218838;
}
.add-to-cart:active {
  background-color: #1c7830;
  transform: scale(0.97);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.product-quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  width: 88px;
  margin: auto;
}

.description {
  color: gray;
  margin: 8px;
}
@media only screen and (max-width: 600px) {
  .product-card {
    padding: 8px;
    padding-bottom: 12px;
  }
  .product-card h2 {
    font-size: 1rem;
  }
  .product-card p {
    font-size: 1rem;
  }
}
