.section-title span {
  color: var(--orange);
}
.section-title p {
  margin: 0;
}
.section-title {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #333;
  margin: 20px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}
.section-title.fa-title {
  flex-direction: row-reverse;
}
